// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body{
  color: #7a7a7a;
  background-color: $gray-200;
}

.serif{
  font-family: $font-family-serif;
}
.sm-text{
  font-size: $font-size-sm;
}
.lead{
  margin-top: 50px;
  margin-bottom: 50px;
}

#wrapper-navbar nav{
  background: $gray-200;
  color: $gray-900;
}

.custom-logo-link {
  width: 120px;
  position: relative;
  img{
    position: relative;
  }
  &:before {
    content: '';
    position: absolute;
    width: 84px;
    height: 100px;
    background: #fff;
    left: -26px;
    top: -18px;
  }
}

.cover{
  padding: 50px 0 100px;
  h1{
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1em;
  }
  h2{
    font-family: $font-family-serif;
  }
}

.cover-2{
  padding: 50px 0 0;
  h1{
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1em;
  }
  h2{
    font-family: $font-family-serif;
  }
}

.dark-box{
  background: $gray-900;
  color: $gray-400;
  text-align: center;
  padding: 50px;
  h1, h2, h3, h4, h5, h6 {
    color: $gray-400;
  }
}

.nav-link {
  font-weight: $font-weight-bold;
}

.wpforms-confirmation-container-full, div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
  background: $gray-300;
  border: 0;
  color: $gray-900;
}

.simple.dark.wpforms-container-full{
  input, .wpforms-form input[type=email]{
    background: transparent;
    color: $gray-200;
    border: 0;
    border-bottom: 1px solid $gray-400;
    padding: 10px 15px;
    text-align: center;
    min-width: 200px;
    max-width: 400px;
    margin: 0 auto;
  }
  .btn-primary, .wpforms-form button[type=submit]{
    border: 1px solid $gray-200;
    padding: 10px 30px;
    background: $gray-900;
    color: #fff;
  }
  p .btn{
    margin: 20px 0 0;
  }
}

.wrapper {
  padding-bottom: 0;
}
.paragraph-title {
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  margin-bottom: 30px;
}

.paragraph-display {
  margin-bottom: 30px;
}

#wrapper-footer {
  background: $gray-900;
  h1, h2, h3, h4, h5, a {
    color: $gray-500;
  }
}

.main-quotes {
  background: $gray-300;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.quote-content {
  font-family: $font-family-serif;
  color: $gray-600;
  line-height: 1.8em;
}

.site-footer{
  padding-top: 30px;
  padding-bottom: 30px;
  .column {
    width: 50%;
    float: left;
    margin-top: 20px;
  }
  h6 {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    color: $gray-200;
  }
  a {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  #wrapper-navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
    nav {
      background: #fff;
    }
  }
  .navbar-toggler {
    z-index: 2;
    &:focus {
      outline: none;
    }
  }
  #main-menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .custom-logo-link:before {
    position: fixed;
    width: 100%;
    background: #fff;
    left: 0;
  }
  #navbarNavDropdown {
    background: #fff;
    width: 100%;
    text-align: right;
  }

  #full-width-page-wrapper {
    padding-top: 80px;
  }
  .cover h1 {
    font-size: 3.5rem;
  }
  
}

